@import '/app/_shared/const/variables';

.input {
    padding-right: $point * 10.25;
}

.eye {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $point * 10.25;
    height: $point * 10.25;
    border-radius: $point * 2;
    color: $black100;
    transition: color $transition;

    @media (any-hover: hover) {
        &:hover {
            color: $black45p;
        }
    }
}
