@import '/app/_shared/const/variables';

.main {
    position: fixed;
    z-index: 100;
    inset: 0;
    margin: auto;

    &_layout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: $point * 8;
        background-color: $black45p;
        transition: inherit;

        .entered & {
            visibility: hidden;
            opacity: 0;
        }

        .entering & {
            visibility: visible;
            opacity: 1;
        }

        .exiting & {
            visibility: visible;
            opacity: 1;
        }

        .exited & {
            visibility: hidden;
            opacity: 0;
        }

        @media (max-width: $screen-md) {
            padding: 0;
        }
    }

    &_content {
        transition: inherit;

        .entered & {
            transform: scale(0.8);
            visibility: hidden;
            opacity: 0;
        }

        .entering & {
            transform: scale(1);
            visibility: visible;
            opacity: 1;
        }

        .exiting & {
            transform: scale(1);
            visibility: visible;
            opacity: 1;
        }

        .exited & {
            transform: scale(0.8);
            visibility: hidden;
            opacity: 0;
        }
    }

    &_overflow {
        @include flexVerticalSpace(6);
        overflow-y: auto;
        padding: $point * 8;

        @media (max-width: $screen-md) {
            width: 100%;
        }
    }
}
