@import '/app/_shared/const/variables';

.main {
    padding: $point * 6;
    border-top: 1px solid $black10p;

    &_textarea {
        & textarea {
            height: $point * 10;
        }
    }

    @media (max-width: $screen-lg) {
        padding: $point * 4;
    }
}
