@import '/app/_shared/const/variables';
@import './root';
@import './null';
@import './ui';

::-webkit-scrollbar {
    width: 2px;
    height: 2px;

    &-thumb {
        background-color: $black10p;
        border-radius: $point * 3;
    }

    &-track {
        background-color: transparent;
    }
}

.sidebar-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-left: $sidebarWidth;

    @media (max-width: $screen-lg) {
        padding-top: $headerHeight;
        padding-left: 0;
    }
}

.unAuth-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8 * $point;

    @media (max-width: $screen-md) {
        padding: 0;
    }
}

.flex-layout {
    @include flexVerticalSpace(8);
    flex-grow: 1;
    width: 100%;
    max-width: 100dvw;
    padding: 8 * $point;

    @media (max-width: $screen-md) {
        gap: $point * 6;
        padding: $point * 4;
    }
}

// Backgrounds
.background_white100 {
    background-color: $white100;
}

// Black
.background_black5p {
    background-color: $black5p;
}

.background_black10p {
    background-color: $black10p;
}

.background_black45p {
    background-color: $black45p;
}

.background_black100 {
    background-color: $black100;
}

// Blue
.background_blue500 {
    background-color: $blue500;
}

// Green
.background_green500 {
    background-color: $green500;
}

// Red
.background_red500 {
    background-color: $red500;
}

// Colors
.color_white100 {
    color: $white100;
}

// Black
.color_black5p {
    color: $black5p;
}

.color_black10p {
    color: $black10p;
}

.color_black45p {
    color: $black45p;
}

.color_black100 {
    color: $black100;
}

// Blue
.color_blue500 {
    color: $blue500;
}

// Green
.color_green500 {
    color: $green500;
}

// Red
.color_red500 {
    color: $red500;
}
