@import '/app/_shared/const/variables';

.main {
    &.size12 {
        width: $point * 3;
        height: $point * 3;
    }

    &.size16 {
        width: $point * 4;
        height: $point * 4;
    }

    &.size20 {
        width: $point * 5;
        height: $point * 5;
    }

    &.size24 {
        width: $point * 6;
        height: $point * 6;
    }

    &.size48 {
        width: $point * 12;
        height: $point * 12;
    }

    & > svg {
        width: 100%;
        height: 100%;
        animation: rotate 1s infinite;

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
