@import '/app/_shared/const/variables';

.main {
    position: relative;
    z-index: 3;

    .main_button {
        position: relative;
        width: $point * 10;
        padding: 0;

        svg {
            flex: 0 0 $point * 5;
            width: $point * 5;
            height: $point * 5;
        }
    }

    &_picker {
        pointer-events: none;
        position: absolute;
        right: 100%;
        bottom: 0;
        margin: 0 $point * -5 0 0;
        visibility: hidden;
        opacity: 0;
        transition: all $transition;

        @media (max-width: $screen-sm) {
            position: fixed;
            right: 50%;
            bottom: $point * 21;
            transform: translateX(50%);
            margin: 0 0 $point * -5 0;
            padding: 0;
        }
    }

    &.open {
        .main_button {
            color: $black45p;
        }

        .main_picker {
            pointer-events: auto;
            margin: 0;
            visibility: visible;
            opacity: 1;
        }
    }
}
