@import '/app/_shared/const/variables';

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    height: 100%;

    &_content {
        overflow: hidden auto;
        background-color: $white100;
        border-right: 1px solid $black10p;
    }

    @media (max-width: $screen-lg) {
        z-index: 52;
        top: $headerHeight;
        transform: translateX(50%);
        height: calc(100% - $headerHeight);
        visibility: hidden;
        opacity: 0;
        transition: all $transition;

        &.isOpenOnMobile {
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
        }
    }
}
